<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <span class="mat-body-1">Preview Version HOKITA <span class="main-version">2</span>.0.0.0</span>


        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <!--
            <a mat-button routerLink="/documentation/getting-started/introduction">Documentation</a>
            <span>&bull;</span>
            <a mat-button routerLink="/documentation/changelog">Changelog</a>
            -->
            <a href="http://www.hokita.de" target="_blank" mat-button fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <span>HOKITA ist ein Produkt der IT Consulting AG - modulware</span></a>
        </div>

    </div>

</mat-toolbar>